<footer class="footer">
  <div class="footer-wrap">
    <h1 class="footer-title">EXPLORE OUR NEW CHOCOLATE FIRST</h1>
    <p class="footer-text">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button class="footer-btn"><a href="">Subscribe</a></button>
  </div>
  <div class="footer-box">
    <div class="contact">
      <h2 class="footer-min-title">
        Chocolate
        <span class="footer-min-span">a delicious cure for a bad day</span>
      </h2>
      <ul class="contact-list">
        <h3 class="contact-title">Contact us</h3>
        <li class="contact-item">
          <a href="" class="contact-link">+380 (68) 443-94-26</a>
        </li>
        <li class="contact-item">
          <a href="" class="contact-link">simplychoc@gmail.com</a>
        </li>
      </ul>
    </div>
    <div class="nav-wrap">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">How it’s made?</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Our products</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Top sellers</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Chocolate is loved</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
