<section class="hero">
    <div class="hero-div container">
        <h2 class="hero-title">Treat yourself or a loved one
            to our finest ingredients for a moment of pure delight!
        </h2>
        <div class="hero-btn">
            <button class="btn_buy" data-open-modal>Buy now</button>
            <include src="./partials/modal_buy-now.html"></include>
            <button class="btn_how-made" data-open-modal-2>How it’s made</button>
            <include src="./partials/modal_rewive.html"></include>
        </div>
        <div class="scroll">
            <p class="scroll-text">scroll down</p>
            <a href="#targetSection" class="scroll-btn"><svg class="scroll-svg"><use href="./images/symbol-defs.svg#icon-scroll-down"></use></svg></a>
        </div>
    </div>
</section>