<section class="our-products">
  <div class="our-products-block">
    <h2 class="our-products-title">
      OUR <span class="products-span">PRODUCTS</span>
    </h2>
  </div>
  <div class="products-carousel-wrapper container">
    <ul class="products-carousel-list">
      <li class="products-carousel-item">
        <img
          src="../src/images/img-section_our-products/orange.png"
          alt="orange"
        />
        <h3 class="products-title">ORANGE</h3>
        <p class="products-text">Dark chocolate</p>
        <div class="products-div">
          <a href="#" class="products-link">45 UAH</a>
        </div>
      </li>
      <li class="products-carousel-item">
        <img
          src="../src/images/img-section_our-products/APPLE&CRANBERRY.png"
          alt="orange"
        />
        <h3 class="products-title">APPLE&CRANBERRY</h3>
        <p class="products-text">Milk chocolate</p>
        <div class="products-div">
          <a href="#" class="products-link">50 UAH</a>
        </div>
      </li>
      <li class="products-carousel-item">
        <img
          src="../src/images/img-section_our-products/lime&sea-salt.png"
          alt="orange"
        />
        <h3 class="products-title">LIME&SEA SALT</h3>
        <p class="products-text">Dark chocolate</p>
        <div class="products-div">
          <a href="#" class="products-link">66 UAH</a>
        </div>
      </li>
      <li class="products-carousel-item">
        <img
          src="../src/images/img-section_our-products/pineapple.png"
          alt="orange"
        />
        <h3 class="products-title">PINEAPPLE</h3>
        <p class="products-text">Dark chocolate</p>
        <div class="products-div">
          <a href="#" class="products-link">54 UAH</a>
        </div>
      </li>
      <li class="products-carousel-item">
        <img
          src="../src/images/img-section_our-products/classic.png"
          alt="orange"
        />
        <h3 class="products-title">CLASSIC</h3>
        <p class="products-text">Milk chocolate</p>
        <div class="products-div">
          <a href="#" class="products-link">45 UAH</a>
        </div>
      </li>
      <li class="products-carousel-item">
        <img
          src="../src/images/img-section_our-products/honey.png"
          alt="orange"
        />
        <h3 class="products-title">HONEY</h3>
        <p class="products-text">Milk chocolate</p>
        <div class="products-div">
          <a href="#" class="products-link">50 UAH</a>
        </div>
      </li>
      <li class="products-carousel-item">
        <img
          src="../src/images/img-section_our-products/roasted.png"
          alt="orange"
        />
        <h3 class="products-title">ROASTED FRUITS</h3>
        <p class="products-text">Dark chocolate</p>
        <div class="products-div">
          <a href="#" class="products-link">66 UAH</a>
        </div>
      </li>
      <li class="products-carousel-item">
        <img
          src="../src/images/img-section_our-products/classic-white.png"
          alt="orange"
        />
        <h3 class="products-title">CLASSIC</h3>
        <p class="products-text">White chocolate</p>
        <div class="products-div">
          <a href="#" class="products-link">54 UAH</a>
        </div>
      </li>
    </ul>
  </div>
</section>
