<section class="sellers container">
  <h2 class="sellers-title">
    Top <span class="sellers-title-span">Sellers</span>
  </h2>
  <ul class="sellers-list">
    <li class="sellers-item">
      <img
        class="item-img"
        src="./images/img-top-seller/chocolate-1.png"
        alt="chocolate-1"
      />
    </li>
    <li class="sellers-item">
      <img
        class="item-img"
        src="./images/img-top-seller/chocolate-2.png"
        alt="chocolate-2"
      />
    </li>
    <li class="sellers-item">
      <img
        class="item-img"
        src="./images/img-top-seller/chocolate-3.png"
        alt="chocolate-3"
      />
    </li>
  </ul>
  <div class="sellers-box">
    <p class="sellers-text">
      Crazy enough chocolate originates from a bean just like the coffee bean
      called Cacao. Cacao has been around for thousands of years and was first
      discovered by the Native American tribe called the Mayans.
    </p>
    <button class="sellers-btn">Buy now</button>
  </div>
</section>
