<section class="made">
  <div class="made-subdiv">
    <h2 class="made-hero-title">
      HOW IT’S <span class="made-span">MADE?</span>
    </h2>
  </div>
  <div class="made-block">
    <div class="div-video">
      <iframe
      class="iframe"
        src="https://www.youtube.com/embed/oEnHeO5K6-Q?si=wN7nEzaKngkavqVD"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    <ul class="made-list">
      <div class="made-div">
        <h3 class="made-title">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
      </div>
      <li class="made-item">
        Heat the milk in a saucepan without bringing it to a boil. Add sugar and
        cocoa powder.
      </li>
      <li class="made-item">
        At the same time, prepare a water bath. Melt the butter on it.
      </li>
      <li class="made-item">
        "Mix" the milk mixture and already liquid butter. Mix thoroughly with a
        silicone spatula so that the mass becomes uniform and silky.
      </li>
      <li class="made-item">
        Heat the mixture over low heat, letting it barely boil.
      </li>
      <li class="made-item">
        Pour the chocolate into special containers (can be replaced with ice
        molds). Allow to cool and harden.
      </li>
    </ul>
  </div>

  <hr class="made-line container" />
</section>
