<section class="chocolate-loved">
  <div class="our-products-block">
    <h2 class="our-products-title">
      <span class="products-span">CHOCOLATE</span> IS LOVED
    </h2>
  </div>
  <div
    id="sliderchoco"
    class="splide"
    role="group"
    aria-label="Splide Basic HTML Example"
  >
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide splide-list">
          <div class="slider-img">
            <img
              src="../src/images/img-chocolate-loved/Victoria-Dobrzhanska.png"
              alt=""
              class="loved-card"
            />
          </div>

          <h3 class="loved-title splide-title">Victoria Dobrzhanska</h3>
          <p class="loved-text splide-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </li>
        <li class="splide__slide">
          <div class="slider-img">
            <img
              src="../src/images/img-chocolate-loved/Nazar-Babenko.png"
              alt=""
              class="loved-card"
            />
          </div>

          <h3 class="loved-title">Nazar Babenko</h3>
          <p class="loved-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </li>
        <li class="splide__slide">
          <div class="slider-img">
            <img
              src="../src/images/img-chocolate-loved/Olena-Kampusch.png"
              alt=""
              class="loved-card"
            />
          </div>

          <h3 class="loved-title">Olena Kampusch</h3>
          <p class="loved-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </li>
        <li class="splide__slide">
          <div class="slider-img">
            <img
              src="../src/images/img-chocolate-loved/Natalia-Sus.png"
              alt=""
              class="loved-card"
            />
          </div>

          <h3 class="loved-title">Natalia Sus</h3>
          <p class="loved-text">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </li>
        <li class="splide__slide">
          <div class="slider-img">
            <img
              src="../src/images/img-chocolate-loved/Danilo-Nottingham.png"
              alt=""
              class="loved-card"
            />
          </div>

          <h3 class="loved-title">Danilo Nottingham</h3>
          <p class="loved-text">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </li>
        <li class="splide__slide">
          <div class="slider-img">
            <img
              src="../src/images/img-chocolate-loved/Irina-Tydnyuk.png"
              alt=""
              class="loved-card"
            />
          </div>

          <h3 class="loved-title">Irina Tydnyuk</h3>
          <p class="loved-text">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :)
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="slider-block">
    <ul class="lived-btn">
      <li class="slider-btn-item">
        <button class="choco-btn" type="button" data-open-modal-2>
          Leave a review
        </button>
        <include src="./partials/modal_rewive.html"></include>
      </li>
    </ul>
  </div>
</section>
