<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <div class="close-div"><button class="btn" data-close-modal><svg class="close-svg"><use href="#"></use></svg></button></div>
            <div class="buy-now"></div>
        <h3 class="buy-now-title">BUY NOW</h3>
        <ul class="buy-now-list">
            <li class="buy-now-item">
                <img src="./images/hero-bg.jpg" alt="img" width="50" height="50" class="buy-now-img">
                <p class="buy-now-price"></p>
            </li>
            <li class="buy-now-item">
                <img src="./images/hero-bg.jpg" alt="img" width="50" height="50" class="buy-now-img">
                <p class="buy-now-price"></p>
            </li>
            <li class="buy-now-item">
                <img src="./images/hero-bg.jpg" alt="img" width="50" height="50" class="buy-now-img">
                <p class="buy-now-price"></p>
            </li>
        </ul>
    </div>
</div>