<div class="backdrop is-hidden" data-modal-3>
  <div class="modal-2">
    <div class="close-div"><button class="btn-close-2" data-close-modal-3><svg class="close-svg">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg></button></div>
    <div class="buy-now"></div>
    <h3 class="rewive-title-3">Explore our
    <span class="rewive-title-2">new chocolate</span> first!</h3>

    <form class="extended-form-2">
      <label for="email"></label>
      <input type="email" id="email" name="email" placeholder="Enter your email" required />
      <button type="submit">Submit</button>
    </form>

  </div>
</div>